zotero_env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE-specific files
.vscode/
.idea/

# SQLite database files (if you don't want to include test databases)
*.sqlite
*.sqlite3

# Operating system files
.DS_Store
Thumbs.db
